*{
    width: auto; 
    margin: auto;  
}

header{
    background-color: black;
    color:white; 
    height: 720px;
}

img{
    width:200px;
    border-radius:100px; 
    display: flex;
    flex-direction: row;
}

nav ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /*align-items: center;*/
    margin: 0px 320px 0px 320px;
    padding-top: 25px;
    list-style: none;
}

.logotipo{
margin-top: 250px;    
display:flex;
justify-content: center;    
}

.icon-arrow-down{
    margin-top: 325px;
    display:flex;
    justify-content: center;
    font-size: 35px;
}


h2{
    text-align: center;
    padding-top: 30px;
}

.quienes {
    background-color: grey;
    height: 720px;
}

.pquienes{
    text-align:justify;
    padding: 50px 200px 50px 200px;
    font-size: 18px;
    line-height: 35px;
}

.fila1{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.icon-github{
    padding: 40px 10px 10px 10px;
    font-size: 30px;
}

.icon-linkedin{
    padding: 10px 10px 10px 20px;
    font-size: 25px;
}


.fila2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.servicios{
    background-color: white;
    height: 300px;
}

.trabajos{
    background-color: gray;
    height: 300px;
}

footer{
    background-color: black;
    height:200px; 
    color: white;
}


